.page {
  background: #fff;
  color: #111;
}

/* HERO */
.hero {
  position: relative;
  height: 70vh;
  overflow: hidden;
}

.slider {
  display: flex;
  height: 100%;
  transition: transform 0.7s ease;
}

.slide {
  min-width: 100%;
}

.slide img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 40px;
  left: 60px;
  color: white;
}

/* BODY */
.container {
  display: flex;
  padding: 40px;
  gap: 30px;
}

/* LEFT */
.left {
  flex: 3;
}

.box {
  margin-bottom: 30px;
}

/* RIGHT */
.right {
  flex: 1;
}

.sticky {
  position: sticky;
  top: 20px;
  background: #f7f7f7;
  padding: 20px;
  border-radius: 12px;
}

.input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  background: #222;
  border: none;
  color: white;
  border-radius: 6px;
}

/* BUTTONS */
.bookBtn {
  width: 100%;
  background: orange;
  padding: 10px;
  border: none;
  margin-top: 10px;
}

.whatsapp {
  width: 100%;
  background: green;
  color: white;
  padding: 10px;
  margin-top: 10px;
}

/* GALLERY */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid img {
  width: 100%;
  border-radius: 10px;
}