.hero {
  position: relative;
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 0 6% 45px;
  overflow: hidden;
}

/* background slider */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  animation: heroSlider 15s infinite;
  z-index: 0;
}

@keyframes heroSlider {
  0%,
  30% {
    background-image: url("/erurpe1.webp");
  }

  33%,
  63% {
    background-image: url("/1776786984996-02_banner.webp");
  }

  66%,
  100% {
    background-image: url("/Europe3.webp");
  }
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.55) 35%,
    rgba(0, 0, 0, 0.12) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}

.content {
  position: relative;
  z-index: 2;
  max-width: 430px;
  color: white;
}

.content h1 {
  font-size: 34px;
  font-weight: 800;
  line-height: 1.15;
  margin-bottom: 10px;
}

.content p {
  font-size: 15px;
  line-height: 1.55;
  margin-bottom: 18px;
  color: rgba(255, 255, 255, 0.92);
}

.price {
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 18px;
  font-size: 15px;
  flex-wrap: wrap;
}

.price strong {
  color: #ffe500;
  font-weight: 800;
}

.btn {
  border: none;
  background: #ffe500;
  color: #111;
  padding: 11px 20px;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: translateY(-2px);
}